* { box-sizing: border-box }

body {
    background-color: #40407A;
    color: #40407a;
    font-family: verdana, arial, sans-serif;
    max-width: 1600px;
    min-width: 900px;
    margin: 0;
}

header {
    background-color: #40407A;
    background-image: url(sunrise.jpg) ;
    background-size: 100% 100%;
    color: #ffffff;
    margin-top: 50px;

}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color:#f5f5f5;
    padding: 2em
}

.home {
    height: 50vh;
    padding-top: 6em;
    padding-left: 8em;
    font-size: 120%;
    min-height: 300px;
}

.content {
    height: 250px;
    padding-top: 2em;
    padding-left: 8em;
    padding-bottom: 2em;
}

.onethird {
    float: left;
    width: 50%;
    padding-left: 2em;
    padding-right: 2em;
}

nav { 
    font-weight: bold;
    text-align: right;
    background-color: white;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 1em;
    position: fixed;
    left: 0%;
    z-index: 9999;
    width: 100%;
    height: 50px;
}

nav a { 
    text-decoration: none;

}

nav a:hover {
    color: #A26100;
}

nav a:link {
    color: #3f2860;
}

nav a:visited {
    color: #497777;
}

nav ul {
    list-style-type: none;
    margin: 0%;
    padding-right: 2em;
    font-size: 1.2em;
}

nav li { 
    display: inline;
    padding-left: 2em;
}

header a {
    text-decoration: none;
}

header a:link, header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #EDF5F5;
}

li, dd {
    font-size: 90%;
}

#mathhero {
    height: 300px;
    background-image: url("yogamat.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    clear: both;
}

#loungehero {
    height: 300px;
    background-image: url("yogalounge.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clear: both;
}

h2 {
    margin: 0;
}


footer {
    font-style: italic;
    font-size: small;
    text-align: center;
    float: center;
}